.nav-bar {
    background: #181818;
    width: 80px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;
  }

.logo-img {
    display: block;
    margin: 8px auto;
    width: 80px;
}

@media (max-width: 700px) {
  .nav-bar {
      display: none;
  }
}

